# Compiled class files
*.class

# Log files
*.log

# BlueJ or IntelliJ project files (if you used them)
*.ctxt
*.iml
.idea/
.vscode/
*.iws
*.ipr
*.bak

# Mac system files
.DS_Store

# Backup files
*~

# Output folders
bin/
out/

